@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #6a0dad;
  --yellow: #ffd700;
  --pink: #ff69b4;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tags */
.react {
  border: 0.1rem solid rgb(97, 218, 251);
}

.react:hover {
  background: rgba(97, 218, 251, 0.25);
}

.node {
  border: 0.1rem solid rgb(131, 205, 41);
}

.node:hover {
  background: rgba(131, 205, 41, 0.25);
}

.matplotlib {
  border: 0.1rem solid rgb(131, 205, 41);
}

.matplotlib:hover {
  background: rgba(131, 205, 41, 0.25);
}

.full-stack {
  border: 0.1rem solid rgb(67, 153, 52);
}

.full-stack:hover {
  background: rgba(67, 153, 52, 0.25);
}

.auth {
  border: 0.1rem solid rgb(118, 74, 188);
}

.auth:hover {
  background: rgba(118, 74, 188, 0.25);
}

.pandas {
  border: 0.1rem solid rgb(82, 143, 240);
}

.pandas:hover {
  background: rgba(82, 143, 240, 0.25);
}

.DALL-E {
  border: 0.1rem solid rgb(25, 118, 210);
}

.DALL-E:hover {
  background: rgba(25, 118, 210, 0.25);
}

.numpy {
  border: 0.1rem solid rgb(0, 209, 178);
}

.numpy:hover {
  background: rgb(0, 209, 178, 0.25);
}

.next {
  border: 2px solid rgb(0, 112, 243);
}

.next:hover {
  background: rgba(0, 112, 243, 0.25);
}

.tailwind {
  border: 2px solid rgb(6, 182, 212);
}

.tailwind:hover {
  background: rgba(6, 182, 212, 0.25);
}

.firebase {
  border: 2px solid rgb(255, 65, 84);
}

.firebase:hover {
  background: rgba(255, 65, 84, 0.25);
}

.openai {
  border: 2px solid rgb(21, 114, 182);
}

.openai:hover {
  background: rgba(21, 114, 182, 0.25);
}

.yolo {
  border: 2px solid rgb(21, 114, 182);
}

.yolo:hover {
  background: rgba(21, 114, 182, 0.25);
}

.computer-vision {
  border: 2px solid rgb(21, 114, 182);
}

.computer-vision:hover {
  background: rgba(21, 114, 182, 0.25);
}

.python {
  border: 2px solid rgb(166, 182, 21);
}

.python:hover {
  background: rgba(166, 182, 21, 0.25);
}

.threejs {
  border: 2px solid rgb(166, 182, 21);
}

.threejs:hover {
  background: rgba(166, 182, 21, 0.25);
}

.machine-learning {
  border: 2px solid rgb(166, 21, 182);
}

.machine-learning:hover {
  background: rgba(166, 21, 182, 0.25);
}

.api {
  border: 2px solid rgb(166, 21, 182);
}

.api:hover {
  background: rgba(166, 21, 182, 0.25);
}