.tabContainer {
    display: flex;
    align-items: center;
    border: 1px solid var(--tab-border);
  }
  
  .link {
    flex: 1;
  }
  
  .closeButton {
    background: var(--tab-bg);
    color: #ececec;
    font-size: 0.75rem;
    cursor: pointer;
    justify-content: left;
    padding: 0.25rem;
  }
  
  .tab {
    padding: 0.25rem 1rem;
    color: #ececec;
    display: flex;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9rem;
    cursor: pointer;
  }
  
  .tab p {
    margin-left: 5px;
  }
  
  .active {
    border-top: 1px solid var(--accent-color);
    background: var(--tab-active-bg);
    border-bottom: none;
  }

  .tabContainer.active .closeButton {
    background: var(--tab-active-bg);
  }
  