/* GitHub Dark */
:root {
    --main-bg: #24292e;
    --bg-text: rgba(56, 58, 61, 0.35);
    --text-color: #efefef;
    --accent-color: #f9826c;
    --titlebar-bg: #1f2428;
    --sidebar-bg: #24292e;
    --sidebar-hover-bg: #1f2428;
    --directory-bg: #1f2428;
    --directory-hover-bg: #24292e;
    --directory-border: #161a1d;
    --tabs-bg: #1f2428;
    --tab-bg: #1f2428;
    --tab-active-bg: #24292e;
    --tab-border: #24292e;
    --button-bg: #176f2c;
    --button-text: #dcffe4;
    --scrollbar-track-bg: #24292e;
    --scrollbar-thumb-bg: #333536;
    --card-bg: #1f2428;
  }
  
  /* Dracula */
  [data-theme='dracula'] {
    --main-bg: #282a36;
    --bg-text: #313340;
    --text-color: #efefef;
    --accent-color: #bd93f9;
    --titlebar-bg: #1e1f29;
    --sidebar-bg: #343746;
    --sidebar-hover-bg: #3c3d51;
    --directory-bg: #21222c;
    --directory-hover-bg: #313241;
    --directory-border: #161a1d;
    --tabs-bg: #191a21;
    --tab-bg: #21222c;
    --tab-active-bg: #282a36;
    --tab-border: #191a21;
    --button-bg: #44475a;
    --button-text: #f8f8f2;
    --scrollbar-track-bg: #282a36;
    --scrollbar-thumb-bg: #454647;
    --card-bg: #21222c;
  }
  
  /* Ayu Mirage */
  [data-theme='ayu-mirage'] {
    --main-bg: #1f2430;
    --bg-text: #21242b;
    --text-color: #efefef;
    --accent-color: #e6b450;
    --titlebar-bg: #1f2428;
    --sidebar-bg: #1f2430;
    --sidebar-hover-bg: #191e2a;
    --directory-bg: #1f2430;
    --directory-hover-bg: #191e2a;
    --directory-border: transparent;
    --tabs-bg: #1f2430;
    --tab-bg: #1f2430;
    --tab-active-bg: #1f2430;
    --tab-border: transparent;
    --button-bg: #e6b450;
    --button-text: #1f2430;
    --scrollbar-track-bg: #1f2430;
    --scrollbar-thumb-bg: #454647;
    --card-bg: #252e3d;
  }
  
  /* Nord */
  [data-theme='nord'] {
    --main-bg: #2e3440;
    --bg-text: #3b414d;
    --text-color: #efefef;
    --accent-color: #88c0d0;
    --titlebar-bg: #1f2428;
    --sidebar-bg: #2e3440;
    --sidebar-hover-bg: #434c5e;
    --directory-bg: #2e3440;
    --directory-hover-bg: #434c5e;
    --directory-border: rgba(136, 192, 208, 0.2);
    --tabs-bg: #2e3440;
    --tab-bg: #2e3440;
    --tab-active-bg: #3b4252;
    --tab-border: transparent;
    --button-bg: #434c5e;
    --button-text: #d8dee9;
    --scrollbar-track-bg: #2e3440;
    --scrollbar-thumb-bg: #454647;
    --card-bg: #363f50;
  }
  
  /* Night Owl */
  [data-theme='night-owl'] {
    --main-bg: #011627;
    --bg-text: #031d33;
    --text-color: #89a4bb;
    --accent-color: rgb(95, 126, 151);
    --titlebar-bg: #011627;
    --sidebar-bg: #011627;
    --sidebar-hover-bg: #0e293f;
    --directory-bg: #011627;
    --directory-hover-bg: #0e293f;
    --directory-border: transparent;
    --tabs-bg: #011627;
    --tab-bg: #01111d;
    --tab-active-bg: #0b2942;
    --tab-border: rgb(39, 43, 59);
    --button-bg: rgb(95, 126, 151);
    --button-text: #fff;
    --scrollbar-track-bg: #011627;
    --scrollbar-thumb-bg: #043254;
    --card-bg: #031d33;
  }